 * {
    box-sizing: border-box;
 }


 body {
    margin: 0;
    padding: 0;
 }

 .header {
    /* background-color: blueviolet; */
    height: 100px;
    padding: 12px 24px;
    border-bottom: 3px solid red;


 }

 .PLANET {
    /* background-color: yellow; */
    float: left;
 }

 .PLANET img {
    float: left;
    margin-right: 20px;
    margin-top: 12px;
 }

 .PLANET h1 {
    float: left;
    margin-bottom: 20px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
 }

 .buttons {
    /* background-color:red; */
    float: right;
    margin-top: 18px;
 }

 .btn {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: purple;
    padding: 12px 24px;
    cursor: zoom-in;
    text-decoration: none;
 }

 .register {
    margin-right: 16px;
 }




 .container {

    padding: 80px;



 }









 .product {
    /* background-color: blue; */
    width: 15%;
    /* padding-left: 80px; */
    /* float: left; */
    margin-right: 50px;
 }


 .product-card {
    display: flex;
    flex-wrap: nowrap;
    /* width:250px;
    border-radius: 10px;
    box-shadow:0 0 5px 5px rgba(178, 178, 70, 0.908);
    margin-right: 12px;
    background-color: red; */
    margin-right: 100px;
    padding: 30px;
    width: 300%;
    overflow: hidden;
    float: left;

 }


 .product-card img {

    /* height: 300px; */
    object-fit: cover;
    width: 150%;


 }

 .product-info {
    padding: 12px 24px;
    font-size: 30px;

 }





















 .social {
    /* background-color: blueviolet;   */
    width: 30%;
    float: right;
    padding: 24px 50px;
    border-radius: 10px;
    border: 2px solid purple;
    text-align: center;
 }

 .social img {
    width: 20%;
    margin-right: 8px;
 }